{% extends 'base.html.twig' %}

{% block title %}Edit ToDO{% endblock %}

{% block body %}
    <h1>Edit ToDO</h1>

    {{ include('to_do/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_to_d_o_index') }}">back to list</a>

    
{% endblock %}
