{% extends 'base.html.twig' %}

{% block title %}New ToDO{% endblock %}

{% block body %}
    <h1>Create new ToDO</h1>

    {{ include('to_do/_form.html.twig') }}

    <a href="{{ path('app_to_d_o_index') }}">back to list</a>
{% endblock %}
