@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.divtask {

    width: 50%;

}

.divtask>div {
    display: flex;
}

button {
    width: 20px;
    background: none;
    border: none;
    height: auto;
    padding: 0px;
}